

<div class="container centered-content mt-5">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="./assets/homeimg.jpg" alt="img">
    </div>
    <div class="col-lg-6">
      <div id="text">
        <p>
          Welcome to our Lab Test Booking platform, where your health is our priority. We understand the importance of convenient and reliable diagnostic services, and that's why we've created a seamless online experience for scheduling your lab tests. Our user-friendly interface allows you to effortlessly browse through a wide range of available tests, providing detailed information about each one. Whether it's routine check-ups or specialized diagnostics, our platform empowers you to book your tests with ease. Simply select the desired lab test, upload prescriptions securely, and fill in your booking details. We prioritize your comfort and privacy, ensuring that your health journey is as smooth as possible. Take control of your well-being – schedule your lab tests today with our intuitive and accessible web app. Your health, your way.
        </p>
        
      </div>
    </div>
  </div>
</div>
